body {
  font-family: sans-serif;
}

main {
  margin: 0 auto 0 auto;
  width: 400px;
  height: 500px;
}

.App {
  padding-left: 200px;
  padding-right: 200px;
}

.row {
  height: 100px;
}

.board {
  text-align: center;
}

.cell {
  border: 1px solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  /*box-shadow: 3px 2px 1px black;*/
}

.title {
  text-align: center;
}

.align {
  text-align: center;
}

.win-msg {
  text-align: center;
  color: #32CD32;
  font-size: 50px;
  font-weight: bold;
}

.btn {
  border: none;
  background: blue;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #000000;
}

.win {
  background-color: #32CD32;
}

.letter {
  font-size: 60px;
}
span {
  width: 80px;
  text-align: left;
  height: inherit;
  position: absolute;
  left: 30px;
  top : 15px;
}
