body {
  font-family: sans-serif;
}

main {
  margin: 0 auto 0 auto;
  width: 400px;
  height: 500px;
}

.row {
  margin: 0 50px 0 auto;
  height: 100px;
}

.cell {
  border: 1px solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  /*box-shadow: 3px 2px 1px black;*/
}

.title {
  text-align: center;
}

.win-msg {
  color: green;
  font-size: 50px;
  font-weight: bold;
}

.win {
  background-color: #32CD32;
}

.letter {
  font-size: 80px;
}
span {
  text-align: center;
  width: inherit;
  height: inherit;
  position: absolute;
}
